@page
@model AOS.Pages.Subjects.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Предметы</h1>
        <a asp-page="./Create" class="btn btn-info btn-lg">Новый предмет</a>
    </div>
    <table class="table table-hover sortable col-7">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Subject[0].Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.Subject) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td align="right">               
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger mr-2">Удалить</a>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-primary">Редактировать</a> 
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/js/sort.js"></script>
}
