@page
@model AOS.Pages.Exams.UserTickets.ActionsModel
@{
}

<div class="container">
    <h4>Достунпые экзамены</h4>
    <hr />
    <table class="table table-hover col-md-6 sortable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Actions[0].Exam)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Actions)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Exam.Name)
                    </td>
                    <td align="right">                        
                        <a asp-page="./GetUserTicket" asp-route-actionId="@item.Id" class="btn btn-success w-75">Перейти</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
