@page
@model AOS.Pages.Events.Homeworks.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Homework</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Homework.Id" />
            <div class="form-group">
                <label asp-for="Homework.CreatedAt" class="control-label"></label>
                <input asp-for="Homework.CreatedAt" class="form-control" />
                <span asp-validation-for="Homework.CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Homework.FileName" class="control-label"></label>
                <input asp-for="Homework.FileName" class="form-control" />
                <span asp-validation-for="Homework.FileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Homework.FileExtension" class="control-label"></label>
                <input asp-for="Homework.FileExtension" class="form-control" />
                <span asp-validation-for="Homework.FileExtension" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Homework.ContentType" class="control-label"></label>
                <input asp-for="Homework.ContentType" class="form-control" />
                <span asp-validation-for="Homework.ContentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Homework.MaterialId" class="control-label"></label>
                <select asp-for="Homework.MaterialId" class="form-control" asp-items="ViewBag.MaterialId"></select>
                <span asp-validation-for="Homework.MaterialId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Homework.HomeworkFileId" class="control-label"></label>
                <select asp-for="Homework.HomeworkFileId" class="form-control" asp-items="ViewBag.HomeworkFileId"></select>
                <span asp-validation-for="Homework.HomeworkFileId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
